@import url(./styles/_resetStyle.css);
@import url(./styles/_fontSet.css);
@import url(./styles/_variables.css);
html{
	min-height: 100vh;
  box-sizing: border-box;
  font-size: calc((36px + (42 - 36) * (100vw - 320px) / (1024 - 320)) / 3.6);
}
body {
	box-sizing: border-box;
  min-height: 100vh;
  font-family: 'Cantarell', sans-serif;
	font-family: 'Oxygen', sans-serif;
	font-family: 'Roboto', sans-serif;
	font-family: 'Ubuntu', sans-serif;
	font-family: 'Tomorrow', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:white;
	/* background-image: url(../public/images/im5.jpg); */
	background-repeat: no-repeat;
	background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
	/* width: 1080px; */
	margin: 0 auto;
	text-align: center;
	/* @media (min-width: 480px) {
    width: 320px;
  }
  @media (min-width: 768px) {
    width: 768px;
  }
  @media (min-width: 1200px) {
    width: 1200px;
    padding-left: 15px;
  padding-right: 15px;
  } 
  padding-left: 15px;
  padding-right: 15px; */
  /* margin-left: auto;
  margin-right: auto; */
}
