@import url(./styles/_resetStyle.css);
@import url(./styles/_fontSet.css);
@import url(./styles/_variables.css);

.container{
	width: 32.0rem;
	margin: 0 auto;
	text-align: center;
	justify-content: center;
	@media (min-width: 640px) {
    width: 640px;
  }
	
  @media (min-width: 976px) {
    width: 976px;
  }

	@media (min-width: 1200px) {
		width: 1200px;
    /* padding-left: 15px; */
		/* padding-right: 15px; */
  } 
	/*
  padding-left: 15px;
  padding-right: 15px; */
  /* margin-left: auto;
  margin-right: auto; */
}
